@import "_vars";

/* font setup */

@font-face {
    font-family: "Silkscreen";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/slkscr.woff2") format("woff2"),
        url("../fonts/slkscr.woff") format("woff");
}

@font-face {
    font-family: "Cantarell";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local("Cantarell"),
        local("Cantarell-Regular"),
        url("../fonts/cantarell-regular.woff2") format("woff2"),
        url("../fonts/cantarell-regular.woff") format("woff");
}

@font-face {
    font-family: "Cantarell";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local("Cantarell"), 
        local("Cantarell-Bold"),
        url("../fonts/cantarell-bold.woff2") format("woff2"),
        url("../fonts/cantarell-bold.woff") format("woff");
}

@font-face {
    font-family: "Fira Code";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/FiraCode-Medium.woff2") format("woff2"),
        url("../fonts/FiraCode-Medium.woff") format("woff");
}

@font-face {
    font-family: "Fira Code";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/FiraCode-Bold.woff2") format("woff2"),
        url("../fonts/FiraCode-Bold.woff") format("woff");
}

/* basic definitions */

// set box model
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

// background, size and font
body {
    background-color: black;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-position: left -64px top -64px;
    background-attachment: fixed;
    color: white;

    line-height: 1.5;
    font-family: "Cantarell", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    max-width: 1024px;
}

// make links underline on hover
a {
    color: $accent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// apply padding to body
.body {
    padding: 0 1em;
}

// title font
#banner, #menu, #paginator, h1, h2, h3, h4, h5, h6 {
    font-family: "Silkscreen", 'Courier New', Courier, monospace;
    font-weight: normal;
    text-shadow: 1px 1px $darkGray;
    text-transform: uppercase;
}

// code font
code {
    font-family: "Fira Code", 'Courier New', Courier, monospace;
}

// mix in with rest of the text
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: white;
}

// header size defs
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

// adjust lists nested inside navigation
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* site banner */

#banner {
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: $headerHeight;

    * {
        margin: 0;
    }

    .page-subtitle {
        color: $lightGray;
    }
}

/* main menu */

#menu {
    background-color: white;
    overflow-y: auto;
    white-space: nowrap;

    ul li {
        // every element should have .5em space
        display: inline-block;
        margin: .5em;
        margin-right: 0;

        a {
            padding: .5em 1em;
            display: inline-block;
            color: black;
            text-decoration: none;

            &:hover, &.current {
                background-color: black;
                color: white;
            }
        }
    }

    // menu buttons (hidden by default)
    #menu-burger {
        display: none;
    }
}

/* footer */

#footer {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    font-size: small;
    text-align: center;
    align-items: center;
}

#footer div {
    flex: 1 0 0;
    padding: 0 2em;
    margin: .5em 0;
}

/* post blog formatting */
article {

    // footer and tags should be small
    > footer, > .article-metadata {
        font-size: small;
    }

    // remove spacing from title to footer
    > header h2 {
        margin-bottom: 0;
    }

    // make code smaller than the main text
    code {
        font-size: small;
    }

}

/* 404 page */

.error {

    // make everything centered
    text-align: center;
    margin: 2em 0 3em;

    h2 {
        color: $lightGray;
    }

    p {
        margin-top: 2em;
    }

}