.highlight {
    pre {
        color: #000;
        background-color: #fff;
    }

    .cm, .cp, .c1, .cs, .sd, .lnt {
        color: #999;
    }

    .k, .kc, .kd, .kn, .kp, .kr, .kt {
        font-weight: bold;
    }

    .l, .ld, .m, .mf, .mh, .mi, .mo, .il, .s, .sb, .sc, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
        color: #ff3859;
    }

    .lntable {
        background-color: white;
    }
}