<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8">
        
        <title>{{ block "title" . }}
            // {{ .Site.Title }}
        {{ end }}</title>

        {{/* stylesheets */}}
        {{ with partial "func/PipeSCSS.html" "main" }}
            <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" media="all">
        {{ end }}
        {{ with partial "func/PipeSCSS.html" "main-small" }}
            <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" media="all and (max-width: 576px)">
        {{ end }}
        
        {{ partial "custom_css.html" }}
        {{/* for internal use */}}
        {{ block "css" . }}{{ end }}

        {{/* meta and seo */}}
        <link rel="icon" href="{{ "/favicon.ico" | absURL }}">
        <meta name="viewport" content="initial-scale=1,width=device-width">
        {{ with .Site.Params.themeColor }}
            <meta name="theme-color" content="{{ . }}">
        {{ end }}
        <meta name="color-scheme" content="dark">
        <meta name="description" content="{{ .Description | default .Site.Params.Description }}">
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}        
    </head>
    <body>
        <script>
            document.body.classList.add("js");
        </script>
        {{ partial "header.html" . }}
        {{ partial "nav.html" . }}
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer.html" . }}

        {{/* scripts */}}
        {{ with partial "func/PipeJS.html" "mobile-menu" }}
            <script src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" defer></script>
        {{ end }}

        {{ partial "custom_js.html" }}
        {{/* for internal use */}}
        {{ block "js" . }}{{ end }}
    </body>
</html>
