<nav id="menu" role="navigation">
    <ul>
        <li id="menu-burger">
            <div role="button" id="menu-open" class="menu-button" aria-label="Open main menu"><img src="{{ "/images/menu-burger.svg" | absURL }}" alt="Open menu icon"></div>
            <div role="button" id="menu-close" class="menu-button" aria-label="Close main menu"><img src="{{ "/images/menu-close.svg" | absURL }}" alt="Close menu icon"></div>
        </li>
        {{ $currentPage := . }}
        {{ if isset site.Data "nav" }}
            {{ if isset site.Data.nav "order" }}
                {{ $customEntries := site.Data.nav }}
                {{ $customOrder := index $customEntries "order" }}
                {{ range $customEntries.order }}
                    {{ $entry := index $customEntries . }}
                    <li>
                        <a href="{{ $entry.url | absURL }}"{{ if eq $currentPage.RelPermalink $entry.url }} class="current"{{ end }}>{{ $entry.name }}</a>
                    </li>
                {{ end }}
                {{/*
                {{ range sort site.Data.nav "order" }}
                    <li>
                        <a href="{{ .url | absURL }}"{{ if eq $currentPage.RelPermalink .url }} class="current"{{ end }}>{{ .name }}</a>
                    </li>
                {{ end }}
                */}}
            {{ end }}
        {{ end }}
        {{ if isset site.Menus "main" }}
            {{ range sort site.Menus.main "Name" }}
                <li>
                    <a href="{{ .URL }}"{{ if $currentPage.HasMenuCurrent "main" . }} class="current"{{ end }}>{{ .Name }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>